.item-top-navigation {
    width: 100vw;
    height: 6.5vh;
    line-height: 6.5vh;
    background-color: #008485;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Hana L;
}

.nav-icon-div {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 6.5vh;
    vertical-align:middle;
}

.nav-icon-div i {
    width: 6.5vh;
    vertical-align:middle;
}
