.item-top-navigation {
    width: 100vw;
    height: 7vh;
    line-height: 7vh;
    background-color: #0e9192;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Hana L;
    font-size: 1.5rem;
}

.nav-icon-div {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 7.5vh;
    vertical-align:middle;
}

.nav-icon-div i {
    width: 7vh;
    vertical-align:middle;
}
