@charset "utf-8";

@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Hana L';
    font-style: normal;
    font-weight: 400;
    src: local(※), url('fonts/HanaL.woff') format('woff')
}

:global(*) {
    font-family: 'Nanum Barun Gothic';
    /*font-family: 'Youth', 'Godo';*/
    /*font-family: 'Noto Sans', sans-serif;*/
}
