html, body {
    height: 101vh;
    margin: 1px auto !important;
    padding: 0 !important;
    background-color: #fcfcfc;
}

hr {
    background-color: #488680;
    margin: 3vh;
    height: 2px;
}

button:focus,
input:focus {
    outline: none !important;
}

input[type=checkbox] {
    transform: scale(1.5);
}
