.modal-container {
    margin: 0 auto;
    height: 97vh;
    background: #f9f9f9;
    text-align: center;
}

.modal-container * {
    margin: 0 auto;
    text-align: center;
}

.modal-logo-div {
    width: inherit;
    height: 25vh;
    background-color: #008485;
    border: 1px solid black;
    margin: 1vmin 2vmax;
    padding: 2vw;
}
