.hide-div {
    display: none;
}

.modal-button-div {
    margin: 5vh 10vw;
}

.modal-button-div button {
    width: 100%;
    margin: 0.5vh auto;
}

.new-form-submit {
    border: 1px solid #005657 !important;
    background-color: #008485 !important;
    color: white !important;
}

.modal-horizontal-div {
    height: 5vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.modal-horizontal-div label {
    height: 5vh;
    line-height: 5vh;
}