.commodity-top-layout{
    border-bottom: 5px solid #f9f9f9;
    margin-bottom: 3vh;
    /*background: url('https://image.freepik.com/free-vector/colorful-background-with-flat-geometric-shapes_1201-669.jpg');*/
    background-size: cover;
}

.commodity-detail-main-title-div {
    min-height: 70vh;
    padding: 2vw;
    color: dimgray;
    width: 100vw;
    background : #f9f9f9;
    font-family: 'Nanum Barun Gothic';
}

.main-sub-title {
    min-height: 5vh;
    line-height: 5vh;
    font-size: 1.6rem;
    font-family: 'Hana L' !important;
    font-weight: bold;
}

.main-sub-content {
    height: 6vh;
    padding-left: 2vw;
    line-height: 6vh;
    font-size: 1.5rem;
    margin-bottom: 2vh;
    background: white;
    color: black;
    font-family: 'Nanum Barun Gothic';
}

.commodity-detail-bank-title {
    height: 10vh;
    line-height: 15vh;
    font-size: 3rem;
    color: dimgray;
    padding-left: 2vw;
    font-weight: 600;
}

.commodity-detail-bank-title span{
    font-family: 'Nanum Barun Gothic';
}

.commodity-detail-product-title {
    height: 7vh;
    line-height: 7vh;
    color: dimgray;
    font-size: 1.85rem;
    padding-left: 3vw;
    /* font-weight: bold; */
    font-family: 'Hana L' !important;
}

.commodity-detail-main-sub-div {
    min-height: 20vh;
    background-color: whitesmoke;
    margin-top: 3vh;
    padding-left: 0.5vw;
    font-family: 'Nanum Barun Gothic';
}

.commodity-detail-main-sub-div > div {
    margin: 3vh 5vw;
}

.commodity-detail-sub-div {
    min-height: 10vh;
    margin: 2vh auto;
    font-family: 'Nanum Barun Gothic';
}

.commodity-detail-sub-div > div {
    min-height: 5vh;
    line-height: 5vh;
    font-size: 1.6rem;
    font-family: 'Hana L';
    font-weight: bolder;
}

.detail-join-member-div{
    min-height: 6vh !important;
    line-height: 6vh !important;
    font-size: 1.5rem !important;
    background: white !important;
    color: black !important;
    /* border: 2px solid rgba(169, 169, 169, 0.7); */
    padding-left: 2vw;
    font-weight: 400 !important;
    font-family: 'Nanum Barun Gothic' !important;
}

thead > td{
    font-weight: bold;
}

.commodity-detail-table {
    width: 100%;
}

.commodity-detail-table tr {
    height: 6vh;
}

.commodity-detail-table tr td {
    width: 50%;
    border: 1px solid rgba(169, 169, 169, 0.7);
    background-color: white;
    text-align: center;
    color: dimgray;
    font-size: 1.5rem;
    font-family: 'Nanum Barun Gothic';
    padding: 2vw;
}

.commodity-detail-table tbody tr td:nth-child(2){
    color: #e24e4e;
    font-weight: bold;
}

.special-table td {
    width: 70% !important;
}

.commodity-multiple-lined-div{
    background: white !important;
    text-align: left !important;
    color: dimgray !important;
    font-weight: 400 !important;
    font-size: 1.4rem !important;
    /* border: 2px solid lightgray; */
    height: auto !important;
    line-height: 4vh !important;
    padding: 2vw;
    /* padding-left: 2vw; */
}

.commodity-multiple-lined-div span{
    font-family: 'Nanum Barun Gothic';
}

.title-min-money{
    text-align: left;
    font-size: 2rem;
    padding-left: 5vw;
}

.title-max-money{
    font-size: 2rem;
    text-align: right;
    padding-right: 5vw;
}

.title-intr-type{
    font-size: 2rem;
    text-align: left;
    padding-left: 5vw;
    margin: 5vh auto;
}

.detail-back{
    position: relative;
    padding-left: 3vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.commodity-section {
    margin: 0 !important;
    padding: 2vw !important;
    background: #f9f9f9 !important;
}

.detail-hr{
    background-color: #066e6f !important;
    margin: 0 auto 10px 0 !important;
    height: 2px !important;
}

.detail-hr-red{
    background-color: #d95a80 !important;
    margin: 0 auto 10px 0 !important;
    height: 2px !important;
}

.fa-fw{
    font-size: 1.1rem !important;
}

.type-title-deposit{
    font-size: 1.5rem;
    line-height: 4vh;
    height: 5vh;
    margin: 0 0 1vw 2vw;
    padding: 3px;
    font-weight: 600;
    color: #0e8071;
    border-radius: 3px;
    display: inline-block;
    font-family: 'Nanum Barun Gothic';
}

.type-title-savings{
    font-size: 1.5rem;
    line-height: 4vh;
    height: 5vh;
    margin: 0 0 1vw 2vw;
    padding: 3px;
    font-weight: 600;
    color: #f18282;
    border-radius: 3px;
    display: inline-block;
    font-family: 'Nanum Barun Gothic';
}

.savings-type-div{
    display: inline-block;
}

.rsrv-type-span{
    font-weight: 400;
    padding-left: 2vw;
    display: inline-block;
    margin-top: 1vh;
}

.scroll-top-span{
    display: inline-block;
    width: 17vw;
    height: 17vw;
    background: #488680;
    color: white;
    border-radius: 50%;
    line-height: 17vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}