.consult-background-div {
    margin-top: -2px;
    height: 20vh;
    background: url("https://image.shutterstock.com/z/stock-photo-business-partners-taking-notes-at-seminar-101562343.jpg");
    background-size: cover;
    -webkit-filter: blur(2px) brightness(0.4);
    -moz-filter: blur(2px) brightness(0.4);
    -o-filter: blur(2px) brightness(0.4);
    filter: blur(2px) brightness(0.4);
}

.consult-introduce-div {
    position: absolute;
    top: 6.5vh;
    text-align: center;
    width: 100vw;
    height: 20vh;
    line-height: 23vh;
    font-size: 2rem;
    color: white;
    font-family: Hana L;
}

.consult-introduce-div > div {
    z-index: 200;

}

.consult-introduce-div img {
    width: 100%;
    height: auto;
}

.item-section-div section {
    font-size: 90% !important;
    width: inherit !important;
    padding: 0;
}

.search-div {
    margin-bottom: 2vh;
    text-align: center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(230, 230, 230, 0.74);
    display: table;
}

.search-div > div {
    display: table-cell;
    vertical-align: middle;
}

.search-div input {
    height: 5vh;
    line-height: 5vh;
    width: 40vw;
    border: 1px solid #008485;
    margin: auto 2.5vw;
    font-size: 1.3rem;
    padding-left: 2vw;
}

.search-div select {
    height: 5vh;
    line-height: 5vh;
    width: 40vw;
    border: 1px solid gray;
    margin: auto 2.5vw;
    font-size: 1.3rem;
    border-radius: 0;
    padding-left: 2vw;
}

.no-consult-div{
    margin: 3vh auto;
    text-align: center;
}

.no-consult-div img{
    width: 80vw;
    vertical-align: middle;
}