.consult-header-div {
    width: 100vw !important;
    height: 6vh;
    background-color: white;
    color: #005657;
    line-height: 6vh;
    font-size: 1.3rem;
    border-bottom: 1px solid lightgray;
}

.header-grid {
    border-top: 1px solid darkslategray;
}

.consult-header-div span {
    margin-left: 5vw;
    font-weight: 600;
}

.consult-content-div {
    margin: 0 auto;
    width: 90vw;
    padding: 3vw;
    min-height: 20vh;
    overflow: auto;
}

.consult-div {
    position: relative;
    height: 10vh;
    margin-bottom: 2vh;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.consult-product-div {
    width: 80%;
    height: 10vh;
    float: left;
}

.consult-product-intro {
    margin: 0;
    height: 5vh;
    line-height: 5vh;
}

.consult-product-intro span {
    margin-left: 5vw;
}

.consult-product-link-div {
    width: 20%;
    height: 10vh;
    float: left;
    line-height: 10vh;
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.consult-inquire-div {
    width: 100vw;
    height: 7vh;
    text-align: center;
    font-size: 1.3rem;
    line-height: 7vh;
    background-color: #008485;
    color: white;
    font-weight: bold;
}

.deposit-link {
    background-color: #008485;
}

.savings-link {
    background-color: #D70033;
}