.item-section-div section {
    font-size: 90% !important;
    font-weight: bold !important;
    width: inherit !important;
    padding: 0;
}

.search-div {
    margin-bottom: 2vh;
    text-align: center;
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
    display: table;
}

.search-div > div{
    display: table-cell;
    vertical-align: middle;
}

.search-div input {
    height: 5vh;
    line-height: 5vh;
    width: 40vw;
    border: 1px solid #008485;
    margin: auto 2.5vw;
    font-size: 1.3rem;
    padding-left: 2vw;
}

.search-div select {
    height: 5vh;
    line-height: 5vh;
    width: 40vw;
    border: 1px solid gray;
    margin: auto 2.5vw;
    font-size: 1.3rem;
    border-radius: 0;
    padding-left: 2vw;
}
