.react-datepicker {
    width: 86vw !important;
    min-height: 30vh !important;
    margin: 2vh 7vw !important;
    border: 5px solid #bfbfbf !important;
}

.react-datepicker__header{
    width: 83vw !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color: #000 !important;
    display: inline-block !important;
    text-align: center !important;
    margin: 1.5vh 2vw !important;
    width: 7.5vw !important;
    font-size: 1.6rem !important;
}

.react-datepicker__day:hover{
    background-color: white !important;
}

.react-datepicker__day:active{
    color: #24fbd7 !important;
    font-size: 2rem !important;
}

.react-datepicker__day-name:nth-child(1), .react-datepicker__day:nth-child(1){
    color: #a80000 !important;
}

.react-datepicker__day-name:nth-child(7), .react-datepicker__day:nth-child(7){
    color: #00007c !important;
}

.react-datepicker__current-month {
    font-size: 2rem !important;
}

.react-datepicker__navigation {
    top: 1.5rem !important;
    line-height: 1.7rem !important;
}

.react-datepicker__navigation--previous {
    border-right-color: gray !important;
    left: 2em !important;
}

.react-datepicker__navigation--next {
    border-left-color: gray !important;
    right: 2em !important;
}
