.fund-cal-title {
    height: 8vh;
    line-height: 8vh;
    padding-left: 4vw;
    font-size: 1.8rem;
    margin: 1vh auto;
    border: 2px solid lightgray;
    background: #f3f3f3;
}

.fund-div1 {
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.fund-div1.visible{
    max-height: 80vh;
}


.fund-cal-title i{
    float: right;
    line-height: 7vh;
    margin-right: 4vw;
}

.plus-value {
    padding: 1vw 0;
    margin: 1vh 2vw;
    min-height: 7vh;
    border-bottom: 2px solid #ffa7a7;
    background: #f9f9f9;
}

.plus-value-input-div {
    min-height: 5vh;
    line-height: 5vh;
    text-align: right;
    padding: 1vw;
    margin: 1vh auto 2vh auto;
    border-bottom: 2px solid #008485;
}

.plus-value-input-div > input {
    min-height: 5vh;
    line-height: 5vh;
    margin: 0 1vw 0 2vw;
    text-align: right;
    padding-right: 2vw;
    border: 0;
    font-size: 2rem;
    width: 60vw;
    color: #005A5A;
}

.plus-value-btn-div {
    min-height: 9vh;
    clear: both;
}

.plus-value-btn-div > div {
    width: 17vw;
    height: 6vh;
    border: 2px solid lightgray;
    background: white;
    float: right;
    margin: 0 0.5vw;
    text-align: center;
    line-height: 6vh;
    color: gray;
    font-size: 1.3rem;
}

.plus-value-btn-div > div:active{
    border: 2px solid #d07373;
    color: #d07373;
}

.calculate-submit {
    background-color: #ead3d3;
    min-height: 7vh;
    margin: 2vh 2vw 1vh 2vw;
    line-height: 7vh;
    text-align: center;
    font-size: 1.6rem;
}

.calculate-submit:active {
    background-color: #DE8587;
    opacity: 0.6;
}

.refresh-submit{
    background-color: #ead3d3;
    min-height: 7vh;
    margin: 2vh 2vw 1vh 2vw;
    line-height: 7vh;
    text-align: center;
    font-size: 1.6rem;
}

.result-calculate {
    min-height: 21vh;
    background: #f7f7f7;
    margin: 2vh 2vw;
    padding: 3vw 0;
}

.result-calculate > div {
    min-height: 7vh;
    line-height: 7vh;
    text-align: center;
}

.result-calculate span{
    font-weight: 600;
    font-size: 1.9rem;
    margin: 1vw;
    color: lightcoral;
}

.hide-div {
    display: none;
}

.plus-value-input-div h4{
    text-align: left !important;
}