.container{
    padding-right: 1vw !important;
    padding-left: 1vw !important;
}

.item-whole-div {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    font-size: 1.4rem;
    min-height: 101vh;
}

.item-top-introduce {
    width: 100vw;
    height: auto;
    margin: 0 auto 1vh auto;
    text-align: center;
}

.item-top-introduce img {
    width: 100%;
    height: auto;
}

.item-section-div {
    margin-left: 5vw;
    margin-right: 5vw;
}

.item-div {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.item-div div {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.item-div h4 {
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: right;
    color: gray;
    font-size: 1.5rem;
}

.item-div hr {
    margin: 1vh auto;
    border: 1px solid burlywood;
}

.item-fs-div {
    background-color: #e5e5e5;
    height: auto;
}

.item-fs-link-div {
    height: 7vh;
}

.bank-logo-img {
    width: 25vmin;
    height: auto;
}

.item-separate-div{
    display: inline-block;
    min-height: 4vh;
    height: auto;
    clear: both;
    border-bottom: 1px solid lightgray;
    margin: 0 auto !important;
    width: 100% !important;
}

.item-separate-div > div{
    font-weight: bolder;
    height: 4vh;
    line-height: 4vh;
    width: 30vw;
    float: left;
    font-size: 1.3rem;
    display: inline-block;
}

.item-separate-div > span{
    display: inline-block;
    min-height: 4vh;
    line-height: 4vh;
    width: 50vw;
    float: right;
    margin: 0.5vh auto;
    font-size: 1.25rem;
    text-align: right;
}

.commodity-popular-desc{
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: right;
    width: 80vw;
    margin-top: 3vw !important;
    float: right;
}

.commodity-popular-desc span{
    display: inline-block;
    background: white;
    color: gray;
    text-align: right;
    height: 5vw;
    margin: 0 2vw;
}

.commodity-popular-desc span div{
    display: inline-block;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    margin: 0 1vw 0 0;
    padding: 0;
    top: 1px;
    position: relative;
    border-radius: 50%;
}

.popular-product-count{
    background: #de5560;
    opacity: 0.9;
}

.popular-click-count{
    background: #1c8561;
    opacity: 0.9;
}


.scroll-top-span{
    display: inline-block;
    width: 17vw;
    height: 17vw;
    background: #488680;
    color: white;
    border-radius: 50%;
    line-height: 17vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    opacity: 0.7;
}
